<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339392739825-mhrhihoscr2lj290u47ltsv4gqtv9rou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339392739825-mhrhihoscr2lj290u47ltsv4gqtv9rou</string>
	<key>CFBundleIdentifier</key>
	<string>com.gw.andy.Croak</string>
	<key>API_KEY</key>
	<string>AIzaSyA_j0kGA_YEB3GD1Qe9pk-4fJ6Ec5AZmiw</string>
	<key>GCM_SENDER_ID</key>
	<string>339392739825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gw.andy.Croak</string>
	<key>PROJECT_ID</key>
	<string>croaksproject</string>
	<key>STORAGE_BUCKET</key>
	<string>croaksproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:339392739825:ios:ad6e8054fa58df2067ac50</string>
</dict>
</plist>
